.popup__save {
  margin: 0 auto;
  width: 100%;
  min-height: 50px;
  min-width: 358px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__save {
    min-height: 46px;
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
