.element__delete-icon {
  width: 18px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity .1s linear;
  background-image: url(../../../images/element-card-delete.svg);
  z-index: auto;
}


.element__delete-icon:hover {
  opacity: .6;
}