.profile__info {
  width: 100%;
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(189px, 294px) minmax(18px, 24px);
  gap: 10px 18px;
  margin-top: 22px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    margin: 26px auto 34px;
    gap: 14px 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 282px;
    gap: 8px 10px;
  }
}
