.footer {
  margin: 0 auto 60px;
  }

@media screen and (max-width: 800px) {
  .footer {
    max-width: calc(100vw - 30px * 2);
  }
}


@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(100vw - 19px * 2);
    margin-bottom: 34px;
  }
}
